{{> head }}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>Crash Bandicoot</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex odit voluptate eaque. Quod ipsa sequi veniam, 
            dolor culpa maxime voluptas iure soluta aut, incidunt dolores quas quibusdam! Illo, modi impedit.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/crash.png" class="img-thumbnail" alt="">
    </div>
</div>
 
{{> footer}}